.book-card {
    max-width: 340px;
  }
  
  .book-header-image {
    background-image: url('../../assets/books.ico');
    background-size: cover;
  }
  .spacer {
    flex: 1 1 auto;
  }
  h2{
    font-family: 'Metamorphous', cursive;
  }