.component-body{
  height: 80vh;
}

.container-fluid{
  text-align: center;
  margin: 0 auto;
  height: 100vh;
  width: 100%;
  /* background-image : url("https://hippolms-storage.s3-accelerate.amazonaws.com/wiz/gifs/220514/3504.gif?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJXRM4YAH2A46K76A%2F20180919%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20180919T063515Z&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=367f7abb82a5a98b673ec67759676ad9dfea8aad9dc4e30c13fbd00aa6ed0821");  */
 background-size: contain;
 background-repeat: no-repeat
}

.container-fluid.container-card{
  text-align: center;
  margin: 0 auto;
  height: auto;
  width: 90%;
  background:none;
}


.example-full-width {
  width: 70%;
}

mat-card {
  top: 10%;
  text-align: center;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

mat-card-title {
  font-size: 17px;
  font-weight: 900;
}

.example-form {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration-color: white;
}

.button-word{
  color: white;
  font-weight: 900;
  letter-spacing: 2px;
}


.button {
  background-color:rgb(196, 17, 17);
  color: white;
  text-align: center;
  font-size: 17px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 2%;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

img {
  width: 120px;
  height: 80px;
}

.option-cards{
  margin: 5%;
  width: 120px;
  height: 120px;
}

.step2{
  margin: 1%;
}
