<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Sign Up Form</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>

  <style>
    body {
      height: auto;
      background-color: #e3e3e3;
    }
  </style>
</head>

<body>

  <!--header-->
  <header>

    <!--Navbar-->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <!-- Brand/logo -->
      <a class="navbar-brand ml-5 col-xs-8" href="#">
        <img src="assets/books.ico" alt="logo" style="width:40px;">
      </a>

      <!-- Links -->
      <ul class="navbar-nav pull-right col-xs-4">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Wishlist</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Cart</a>
        </li>
      </ul>
    </nav>

  </header>
<!--header-->

<!--container-->
  <div class="container">
    <div class="row">
      <h2>User Registration Page</h2>
      <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="form-group">
          <label for="Name">Name</label>
          <input type="text" class="form-control" [(ngModel)]="model.Name" #Name="ngModel" [ngClass]="{'is-invalid':f.submitted && Name.invalid}"
            name="Name" placeholder="Full Name" required />
          <div class="invalid-feedback">
            <div>Name is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="DOB">Date Of Birth</label>
          <input type="date" class="form-control" [(ngModel)]="model.Date" placeholder="yyyy-MM-dd" min="1970-01-01" max="2018-08-20"
            #Date="ngModel" [ngClass]="{'is-invalid':f.submitted && Date.invalid}" name="Date" required />
          <div class="invalid-feedback">
            <div>DOB is required</div>
          </div>
        </div>

        <!--form-group-->
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" [(ngModel)]="model.email" #email="ngModel" [ngClass]="{'is-invalid':f.submitted && email.invalid}"
            placeholder="john@gmail.com" name="email" required email />
          <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
            <div *ngIf="email.errors.required">Email Name is required</div>
            <div *ngIf="email.errors.email">Email must be a valid email Address</div>
          </div>
        </div>
        <!--form-group-->

        <!--form-group-->
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" [(ngModel)]="model.password" #password="ngModel" [ngClass]="{'is-invalid':f.submitted && password.invalid}"
            name="password" required minlength="6" />
          <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
            <div *ngIf="password.errors.required">Password Name is required</div>
            <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
          </div>
        </div>
        <!--form-group-->

        <!--form-group-->
        <div class="form-group">
          <button class="btn btn-primary">Register</button>
        </div>
        <!--form-group-->

      </form>
    </div>
  </div>
<br>
  <!-- Footer -->
<footer class="page-footer font-small footer-dark cyan darken-3 bg-dark">

    
      <!-- Grid row-->
      <div class="row text-center">

        <!-- Grid column -->
        <div class="col-md-12 mt-5 mb-1">
          <div class="mb-2 flex-center">

            <!-- Facebook -->
            <a class="fb-ic">
              <i class="fa fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic">
              <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!-- Google +-->
            <a class="gplus-ic">
              <i class="fa fa-google-plus fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!--Linkedin -->
            <a class="li-ic">
              <i class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!--Instagram-->
            <a class="ins-ic">
              <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!--Pinterest-->
            <a class="pin-ic">
              <i class="fa fa-pinterest fa-lg white-text fa-2x"> </i>
            </a>
          </div>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    
    <!-- Copyright -->
    <div class="footer-copyright text-center py-1">© 2018 Copyright:
      <a href="#"> GoDeliver.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->

</body>

</html>