

.container-fluid {
  text-align: center;
  margin: 0 auto;
  height: 75vh;
  width: 100%;
  /* background-image: url(../../assets/wall.gif); */
  background-size: contain;
  background-repeat: no-repeat;
}


.container-fluid.container-card {
  text-align: center;
  margin: 0 auto;
  height: auto;
  width: 90%;
  background: none;
}

.example-full-width {
  width: 70%;
}

mat-card {
  top: 10%;
  text-align: center;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

mat-card-title {
  font-size: 17px;
  font-weight: 900;
}

.example-form {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration-color: white;
}

.mat-form-field{
  font-size: 15px
}

.button-word {
  color: white;
  font-weight: 900;
  letter-spacing: 2px;
}

.button {
  background-color: rgb(196, 17, 17);
  color: white;
  text-align: center;
  font-size: 17px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 2%;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

img {
  width: 120px;
  height: 80px;
}

.option-cards {
  margin: 5%;
  width: 120px;
  height: 120px;
}

.step2 {
  margin: 1%;
}
