.monospaced {
  font-family: "Ubuntu Mono", monospaced;
}
.add-to-cart .btn-qty {
  width: 52px;
  height: 46px;
}
.add-to-cart .btn {
  border-radius: 0;
}
.image img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.buybutton{
    background-color: #fb641b;
    color:#fff;
}