<div class="component-body">
  <div class="container" id="product-section">
    <div *ngIf="book">
      <div class="row">
        <div class="col-md-6 mr-auto ml-auto">
          <div class="image">
            <img src="{{ book.poster }}" alt="{{ book.title }}" class="image-responsive" style="width: 50%; height: auto;" />
          </div>
        </div>
        <div class="col-md-6">
          <p class="book-title">{{ book.title }}</p>
          <div>
            <p class="product-price">₹ {{ book.cost }}</p>
          </div>
          <div class="container">
            <div class="row m-3">
              <button class="btn btn-lg btn-brand btn-block btn-warning">
                <i class="fa fa-shopping-cart"></i> Add to Cart
              </button>
            </div>
            <div class="row m-3">
              <button class="btn btn-lg btn-brand btn-block buybutton" (click)="billing()">
                Buy Now
              </button>
            </div>
          </div>

          <div class="container">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs nav-justified" role="tablist">
              <li role="presentation" class="desc active">
                <a href="#description" aria-controls="description" role="tab" data-toggle="tab">Description</a>
              </li>
              <li role="presentation" class="desc">
                <a href="#features" aria-controls="features" role="tab" data-toggle="tab">Features</a>
              </li>
              <li role="presentation" class="desc">
                <a href="#services" aria-controls="features" role="tab" data-toggle="tab">Services</a>
              </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="description">
                <p>{{ book.description }}</p>
              </div>
              <div role="tabpanel" class="tab-pane top-10" id="features">
                <ul>
                  <li><strong>Language:</strong>{{ book.language }}</li>
                  <li><strong> Year:</strong>{{ book.publishedYear | date:'dd-MM-yyyy' }}</li>
                  <li><strong>Genre:</strong>{{ book.genre }}</li>
                  <li><strong>Pages:</strong>{{ book.pages }}</li>
                </ul>
              </div>
              <div role="tabpanel" class="tab-pane top-10" id="services">
                <ul>
                  <li>10 Days Replacement Policy</li>
                  <li>Cash on Delivery available</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- end row -->

    </div>
  </div>
</div>
