
  <div class="container" id="Box">

    <div>
      <img src="../../assets/success.png" style="width: 21%;height: 21%;">
    </div>
    <div class="p-3 mb-5 rounded successful">
      <div>
        <h2 id="success"><strong>Thank You!!!Your payment was successful.</strong></h2>
      </div>

      <div id="orders">
        <div>
          <h3 class="title"><strong> Your Details </strong></h3>
        </div>
        <div class="row" style="font-size: 20px;">
          <div class="col-md-6">
            <div><strong>Name :</strong></div>
            <div><strong>Will be delivered to : </strong></div>
            <div><strong>Email ID :</strong></div>
            <div><strong>Order Quantity :</strong></div>
            <div><strong>Order Date :</strong></div>
            <div><strong>Orders:</strong></div>
          </div>
          <div class="col-md-6">
            <div>{{orderDetails.orderConsumerName}}</div>
            <div>{{orderDetails.orderConsumerAddress}}</div>
            <div>{{orderDetails.emailId}}</div>
            <div>{{orderDetails.orderQuantity}}</div>
            <div>{{orderDetails.orderDate}}</div>
            <div class="orders" *ngFor="let sl of orderDetails.books; let i=index">
              <div>
                <h3><strong>Order {{i+1}} :</strong></h3>
              </div>
              <div><strong>Order Id : </strong>{{sl.bookISBN_10}}</div>
              <div><strong>Order Title :</strong> {{sl.title}}</div>
              <div><strong> Cost : {{sl.cost}}</strong></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>
    <button class="btn btn-lg btn-brand btn-block"><a href="#">Back to Homepage</a></button>
  </div>

