a{
    color: black !important;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 1px;
    margin: 10px;
}

a:hover{
    letter-spacing: -1px;
    color: rgb(196, 17, 17) !important;
    margin: 10px;
}

nav{
  vertical-align: middle;
}
