a{
    color: black !important;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 0.5px;
    margin: 10px;
}

a:hover{
    color: rgb(196, 17, 17) !important;
    margin: 10px;
    font-weight: 900;
    background-color: transparent !important;
}

nav{
  vertical-align: middle;
}

.logo-style{
  background-color: rgb(196, 17, 17);
  color: white;
}
