<!--header-->
<header>

  <!--Navbar-->
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand ml-5 col-xs-8" href="#">
      <img src="assets/books.ico" alt="logo" style="width:40px;">
    </a>

    <!-- Links -->
    <ul class="navbar-nav pull-right col-xs-4">
      <li class="nav-item">
        <a class="nav-link" routerLink="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/wishlist">Wishlist</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cart">Cart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/register">Register</a>
      </li>
    </ul>
  </nav>

</header>
<!--header-->
