a{
    color: black !important;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 1px;
}

a:hover{
    letter-spacing: -1px;
    font-weight: 900;
    color: rgb(196, 17, 17) !important;
}