<div class="footer-component footer-dark cyan darken-5 bg-dark text-light">
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-12">
        <div class="container">
          <a class="footer-icons">
          <i class="fa fa-facebook fa-lg white-text m-4 fa-2x"></i>
        </a>
          <!-- Twitter -->
          <a class="footer-icons">
          <i class="fa fa-twitter fa-lg white-text m-4 fa-2x"></i>
        </a>
          <!-- Google +-->
          <a class="footer-icons">
          <i class="fa fa-google-plus fa-lg white-text m-4 fa-2x"></i>
        </a>
          <!--Linkedin -->
          <a class="footer-icons">
          <i class="fa fa-linkedin fa-lg white-text m-4 fa-2x"></i>
        </a>
          <!--Instagram-->
          <a class="footer-icons">
          <i class="fa fa-instagram fa-lg white-text m-4 fa-2x"></i>
        </a>
          <!--Pinterest-->
          <a class="footer-icons">
          <i class="fa fa-pinterest fa-lg white-text m-4 fa-2x"></i>
        </a>
        </div>
      </div>
    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-1">© 2018 Copyright:
      <a href="#"> GoDeliver.com</a>
    </div>
    <!-- Copyright -->
  </div>
</div>
