<div class="container">
  <div class="row mb-4 ml-1" style="align-self:center">

    <mat-card>
      <!-- <form #myForm="ngForm" (ngSubmit)="onSubmit()"> -->
      <h2 style="margin-left:20px">Payment Form</h2>
      <form #myForm="ngForm">
        <div class="form-row">
          <!-- <label> -->
          <!-- <span>Card Number</span> -->
          <mat-form-field style="width:80%;margin-left:10px">
            <input matInput type="number" [(ngModel)]="cardNumber" name="card-number" type="text" size="20" placeholder="Cardnumber  (Eg: XXXX XXXX XXXX XXXX)"
              data-stripe="number" maxlength="16" minlength="16" required>
          </mat-form-field>
          <!-- </label> -->
        </div>
        <div class="form-row">
          <!-- <label> -->
          <!-- <span>Expiration (MM/YY)</span> -->
          <mat-form-field style="margin-left:10px">
            <input type="number" matInput [(ngModel)]="expiryMonth" name="expiry-month" type="text" placeholder="Expiry month (MM)"
              size="2" data-stripe="exp_month" min="1" max="12" maxlength="2" required>
            <!-- <div *ngIf="f.month.errors.required">Password is required</div> -->
          </mat-form-field>
          <!-- </label> -->
          <!-- <span> /</span> -->
          <p class="slash" style="margin-top:20px; margin-left:10px">/</p>
          <mat-form-field style="margin-left:10px">
            <input matInput [(ngModel)]="expiryYear" name="expiry-year" type="text" placeholder="YY" size="2"
              data-stripe="exp_year">
          </mat-form-field>
        </div>
        <div class="form-row">
          <!-- <label> -->
          <!-- <span>CVC</s pan> -->
          <mat-form-field style="margin-left:10px">
            <input type="number" matInput [(ngModel)]="cvc" name="cvc" type="text" size="4" placeholder="CVC"
              data-stripe="cvc" maxlength="3" required>
          </mat-form-field>
          <!-- </label> -->
        </div>
        <!-- <button type="submit" [disabled]="!myForm.form.valid" class="btn btn-primary">Submit</button> -->
        <button type="submit" [disabled]="!myForm.form.valid" appNoDblClick (click)="chargeCreditCard()" style="border-radius:8px;height:40px">Submit</button>
        <button (click)="refundCreditCard()" style="border-radius:8px;margin-left:20px;height:40px">Refund</button><br><br>
        <p style="color:green">{{msg}}</p>


      </form>
    </mat-card>
  </div>
</div>