/*css for login page*/
.component-body{
  height: 80vh;
}

.container-fluid{
  text-align: center;
  margin: 0 auto;
  height: 100vh;
 /* background-image : url(../../assets/wall.gif); */
 background-size: contain;
 background-repeat: no-repeat
}

.example-form {
  position: relative;
  min-width: 100px;
  max-width: 400px;
  text-align: center;
}


.loginButton {
  margin: 2% 0% 5% 0%;
  background-color:rgb(196, 17, 17);
  color: white;
  font-weight: 900;
  letter-spacing: 2px;
}

.register {
  position: relative;
  color: blue;
}
mat-form-field{
  width: 90%;
}
mat-card{
  top: 40%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
