<!-- Login Page authentication with username and password -->
<div class="component-body">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-4">

        <!--form class for username and password  using Material-->
        <mat-card>
          <form class="example-form container-fluid justify-content-center" [formGroup]="userForm" (ngSubmit)="loginSubmit()">
            <mat-form-field>
              <input matInput placeholder="Enter your email" [formControl]="userEmail" name="userEmail" required>
              <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" style="margin-top:18px">
              <input matInput type="password" placeholder="Password" [formControl]="userPassword" name="userPassword" required minlength="8">
              <mat-error *ngIf="email.invalid">{{getErrorMessage2()}}</mat-error>
            </mat-form-field>

            <button class="loginButton" mat-raised-button>Login</button>
            <br>
            <div *ngIf="error" class="alert alert-danger">{{error}}</div>
            <!-- Routing to signup page when the user clicks on the Signup button-->
            <a class="register" [routerLink]="['/register']">New to GoDeliver? Sign Up!</a>
          </form>
        </mat-card>
        <!--  end of form class-->
      </div>
    </div>
  </div>
</div>
