/*css for login page*/

.background {
  background: url("../../assets/1234.gif");
  background-size: cover;
}

.example-form {
  position: relative;
  min-width: 100px;
  max-width: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loginButton {
  margin-top: 2%;
  left: 25%;
  background-color:grey;
}

.register {
  position: relative;
  top: 2%;
  padding-left: 17%
  
}
mat-form-field{
  padding-right: 10px;
  width: 300px;
}
mat-card{
  margin-top: 20%; 
  margin-bottom: 110%;
  width: 350px;
  

}