
<div class="container">
  <div class="row ">
    <form class="form-horizontal" [formGroup]="userForm" (ngSubmit)="loginSubmit()">
      <div class="form-group">
        <label for="userEmail">Email</label>
        <input type="text" formControlName="userEmail" class="form-control" placeholder="john@gmail.com" name="email" required [pattern]="emailPattern"
        />
        <div *ngIf="userEmail.dirty && userEmail.errors" class="error">
          <div *ngIf="userEmail.errors.required" class="validation_message">
            User Email required.
          </div>
        </div>
      </div>

      <!--form-group-->
      <div class="form-group">
        <label for="userPassword">Password</label>
        <input type="password" class="form-control" formControlName="userPassword" name="userPassword" required minlength="8" />
        <div *ngIf="userPassword.dirty && userPassword.errors" class="error">
          <div *ngIf="userPassword.errors.required" class="validation_message">
            Password required.
          </div>
        </div>
      </div>
      <!--form-group-->
      <!--form-group-->
      <div class="form-group">
        <button class="btn btn-primary">Login</button>
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
      </div>
      <div>
        <a id="signUp" routerLink="/register">New to GoDeliver? Sign up</a>
      </div>
    </form>

  </div>
</div>
<br>
<br>
<br>
<br>

<br><br><br><br><br><Br>