.parallax {
  background: url(../../assets/home) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 800px;
}

.goDel {
  position: absolute;
  top: 34%;
  left: 70%;
  font-family: "Poppins";
  font-size: 3em;
  color: #ad2929;
}

.tagline {
  position: absolute;
  top: 40%;
  left: 65%;
  font-family: "Poppins";
  font-size: 2em;
  color: #ad2929;
}
