<div class="row">
  <div class="col-sm-3" *ngFor="let books of bookList; let i = index">
    <div *ngIf="i < 9">
      <div class="card mt-3 mb-3">
        <div class="card-header text-center">
          {{ books.releaseYear | date:'mediumDate' }}
        </div>
        <div class="card-body">
          <img class="card-img-top img-fluid" src="{{books.booksPoster}}" alt="{{ books.booksTitle }}" style="height: 460px">
          <p class="text-center">{{ books.booksTitle }}</p>
          <a routerLink="/books/{{ books.booksId }}" href="#" class="btn btn-block btn-info">Books Details</a>
          <button (click)="delete(books.booksId)">Delete books from wishlist</button>
        </div>
      </div>
    </div>
  </div>
</div>