<!-- cards to display books -->
<mat-card class="book-card mt-3 mb-3">
  <img mat-card-image src="{{ book.poster }}" style="height: 200px; background-size: cover;" alt="Photo of a {{book.title}}">
  <mat-card-header>
    <span class="spacer"></span>
    <div *ngIf=email>
      <mat-icon class="example-icon"><a (click)="addToWishlist(book)">favorite</a></mat-icon>
    </div>
    <mat-card-title height="10px"><h6>{{ book.title }}</h6></mat-card-title>
    <mat-card-subtitle>{{book.genre}}</mat-card-subtitle>
    <mat-card-subtitle>Rs {{book.cost}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <span class="spacer"></span>
    <button (click)="addToCart(book)" mat-button>Add to cart</button>
    <button routerLink="book/{{ book.bookISBN_10 }}" mat-button>Details</button>
  </mat-card-actions>
</mat-card>