<div class="component-body">
  <div class="container text-center">
    <form>
      <mat-form-field class="example-full-width">
        <input matInput (click)="onDate(dateOfDelivery)" [matDatepicker]="picker" [(ngModel)]="dateOfDelivery" name="dateOfDelivery" required placeholder="Choose a date" style="margin-right:10px">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
      </mat-form-field>
      <!-- <button class="btn btn-danger rounded" (click)="onDate()">Get Data</button> -->
    </form>
  </div>
  <div class="conatiner-fluid">
    <div style="margin-left:10%;font-size:8vh;">
      <p class="text-xl-left font-weight-bold">Slot Details</p>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-3 justify-content-center timings">
        <div class="container-fluid">
          <p class="text-xl-center font-weight-bold">09:00-12:00</p>
        </div>
      </div>
      <div class="col-md-3 justify-content-center timings">
        <div class="container-fluid">
          <p class="text-xl-center font-weight-bold">13:00-16:00</p>
        </div>
      </div>
      <div class="col-md-3 justify-content-center timings">
        <div class="container-fluid">
          <p class="text-xl-center font-weight-bold">17:00-20:00</p>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-3" *ngFor="let slot of slots">
        <div *ngIf="slot">
          <canvas baseChart [data]="slot" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
            </canvas>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-3" *ngFor="let vehiclesData of vehicleData">
        <div *ngIf="vehiclesData">
          <canvas baseChart [datasets]="vehiclesData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
            </canvas>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-3 justify-content-center buttons">
        <div class="container-fluid">
          <div class="btn-group">
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal" (click)="onVehicle(0,0)">Vehicle 1</button>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal" (click)="onVehicle(0,1)">Vehicle 2</button>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal" (click)="onVehicle(0,2)">Vehicle 3</button>
          </div>
        </div>
      </div>
      <div class="col-md-3 justify-content-center  buttons">
        <div class="container-fluid">
          <div class="btn-group">
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal" (click)="onVehicle(1,0)">Vehicle 1</button>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal" (click)="onVehicle(1,1)">Vehicle 2</button>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal" (click)="onVehicle(1,2)">Vehicle 3</button>
          </div>
        </div>
      </div>
      <div class="col-md-3 justify-content-center buttons">
        <div class="container-fluid">
          <div class="btn-group">
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal" (click)="onVehicle(2,0)">Vehicle 1</button>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal" (click)="onVehicle(2,1)">Vehicle 2</button>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal" (click)="onVehicle(2,2)">Vehicle 3</button>
          </div>
        </div>
      </div>
      <!-- Modal for vehicle analytics -->
      <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Vehicle Analytics</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                  <div class="col-md-4 p-2">
                    <p class="text-xl-left">Vehicle {{vehicleSelected}}</p>
                    <div *ngIf="vehicleCapacity">
                      <canvas baseChart [data]="vehicleCapacity" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div *ngIf=origin>
                      <agm-map [latitude]="lat" [longitude]="lng">
                        <agm-direction [origin]="origin" [waypoints]="stops" [destination]="destination">
                        </agm-direction>
                      </agm-map>
                    </div>
                  </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
