/*css for login page*/

background {
    background: url("../../assets/home.jpeg") no-repeat;
  }
  
  .example-form {
    position: relative;
    min-width: 100px;
    max-width: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .loginButton {
    position: relative;
    left: 50%;
    background-color:grey;
  }
  
  .register {
    position: relative;
    top: 2%;
    left: -10%;
  }
  