agm-map {
    height: 100vh;
}

.container-body{
    margin: 2%;
    height: 100%;
}

.row{
  margin: 2px;
}

.col-md-3{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin: 2%;
  border-radius: 5px;
}

canvas{
  width: 100%;
}
