<!-- <h1 style="text-align: center">Confirm your details</h1>
<div class="container">
<div class="col-sm-6">
  
        <mat-card>  
            <mat-form-field>
                <input matInput [matDatepicker]="dp" placeholder="Month and Year" [formControl]="date">
                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp
                                startView="multi-year"
                                (yearSelected)="chosenYearHandler($event)"
                                (monthSelected)="chosenMonthHandler($event, dp)"
                                panelClass="example-month-picker">
                </mat-datepicker>
              </mat-form-field>
 
            
 
          <p>Time Slots</p>
<label>
  <input type="radio"  style="margin-left:15px"name="editList" value="always"/>Timeslot 1
</label>
<label>
  <input type="radio"style="margin-left:15px" name="editList" value="never"/> Timeslot 2
</label>
<label>
  <input type="radio"style="margin-left:15px" name="editList" value="costChange"/>Timeslot 3
</label>
</mat-card>




</div>
<div class="col-sm-5" style="margin-left:20px;margin-top:0px">
    <mat-card>
      <mat-card-title>
          <h3>Order Details</h3>
      </mat-card-title>
      <mat-card-content>
          <h5>Total Items: {{totalQuantity()}}</h5>
          <h5>Total Amount Payable: {{getSum()}}</h5>      
      </mat-card-content>
    </mat-card>
      </div>
</div>
<button class=" btn btn-block-sm btn-primary" style="margin-left:900px;margin-top:20px;margin-bottom: 15px" ><a routerLink="/payment" style="color:white">Proceed To Payment</a>
  </button>  -->
    

  <!-- <div class="col-sm-6">
      <mat-card>
          <mat-card-title>
              <h3>Order Details</h3>
          </mat-card-title>
          <mat-card-content> -->
              <!-- <h5>Total Items: {{totalQuantity()}}</h5>
              <h5>Total Amount Payable: {{getSum()}}</h5>       -->
          <!-- </mat-card-content>
        </mat-card>
  </div>
</div> -->
<!-- <div>
  <h3> Enter an adress and press the button</h3>

 <input id="address" type="text" placeholder="Enter address here" />
 <button id="btn">Get LatLong</button>
 <div>
     <p>Latitude:
         <input type="text" id="latitude" readonly />
     </p>
     <p>Longitude:
         <input type="text" id="longitude" readonly />
     </p>
 </div>
</div> -->
<!-- <button (click)="gen()">Generate</button>
<table border='2'>
  <tr> <td> {{ list }} </td> </tr>
</table> -->